<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ! ===== Enlace a la hoja de estilos del CSS. =====-->
    <link rel="stylesheet" href="/monsterlabs/public/styles/style-sidebar-administrator.css"/>
    <!-- ! ===== Enlace a los iconos de Boxicons. =====-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <!-- ! ===== Nombre de la página del componente. =====-->
    <title>Sidebar-Administrator</title>
  </head>
  <body>
    <!-- ? ===== Barra lateral de la pagina. =====-->
    <nav class="sidebar close">
      <!-- ? ===== Encabezado de la pagina que contiene el logo y el nombre del rol del panel. =====-->
      <header>
        <div class="image-text">
          <span class="image">
            <img src="/monsterlabs/assets/images/mini-logo-monsterlabs.png" alt="logo-monsterlabs"/>
          </span>
          <div class="text logo-text">
            <span class="name">Monsterlabs</span>
            <span class="profession">Administrador</span>
          </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
      </header>
      <!-- ? ===== Barra de menú de la página. =====-->
      <div class="menu-bar">
        <div class="menu">
          <!-- ? ===== Enlaces de navegacion. =====-->
          <ul class="menu-links">
            <!-- * ===== Enlace para volver a la pagina de Inicio =====-->
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-home icon' ></i>
                <span class="text nav-text">Ir a Inicio</span>
              </a>
            </li>
            <!-- * ===== Enlace para ir al perfil del administrador =====-->
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-user icon'></i>
                <span class="text nav-text">Perfil</span>
              </a>
            </li>
            <!-- * ===== Enlace para ir al apartado de actividades =====-->
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-universal-access icon' ></i>
                <span class="text nav-text">Actividades</span>
              </a>
            </li>
            <!-- * ===== Enlace para ir al apartado de grupos =====-->
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-group icon' ></i>
                <span class="text nav-text">Grupos</span>
              </a>
            </li>
            <!-- * ===== Enlace para ir al apartado de gestiones =====-->
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-archive icon'></i>
                <span class="text nav-text">Gestiones</span>
              </a>
            </li>
            <!-- * ===== Enlace para ir al apartado de mensajes =====-->
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-message-dots icon'></i>
                <span class="text nav-text">Mensajes</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- ? ===== Boton para cerrar sesion. =====-->
        <div class="bottom-content">
          <ul>
            <li>
              <a href="#">
                <i class="bx bx-log-out icon"></i>
                <span class="text nav-text">Salir</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- ! ===== Enlace a los scripts de JavaScript =====-->
    <script src="/monsterlabs/public/scripts/script-sidebar.js"></script>
  </body>
</html>
