<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding Tabs</title>
  </head>
  <body>
    <nav>
      <div class="navbar-container">
        <div class="tabs">
          <input type="radio" id="perfil" name="tabs" checked>
          <label class="tab" for="perfil">Perfil</label>
          <input type="radio" id="actividades" name="tabs">
          <label class="tab" for="actividades">Actividades</label>
          <input type="radio" id="grupos" name="tabs">
          <label class="tab" for="grupos">Grupos</label>
          <input type="radio" id="gestiones" name="tabs">
          <label class="tab" for="gestiones">Gestiones</label>
          <span class="slider"></span>
        </div>
        <button id="logoutBtn">Salir</button>
      </div>
    </nav>
  </body>
</html>