    
    <!-- ? ===== Barra lateral de la pagina. =====-->
    <nav class="sidebar close">
        <!-- ? ===== Encabezado de la pagina que contiene el logo y el nombre del rol del panel. =====-->
        <header>
          <div class="image-text">
            <span class="image">
              <img src="../../assets/images/mini-logo-monsterlabs.png" alt="logo-monsterlabs"/>
            </span>
            <div class="text logo-text">
              <span class="name">Monsterlabs</span>
              <span class="profession">Monitor</span>
            </div>
          </div>
          <i class="bx bx-chevron-right toggle" id="menuBtn"></i>
        </header>
        <!-- ? ===== Barra de menú de la página. =====-->
        <div class="menu-bar">
          <div class="menu">
            <!-- ? ===== Enlaces de navegacion. =====-->
            <ul class="menu-links">
              <!-- <li class="nav-link">
                <a href="#" data-section="section-home">
                  <i class='bx bxs-home icon' ></i>
                  <span class="text nav-text">Ir a Inicio</span>
                </a>
              </li> -->
              <li class="nav-link">
                <a href="#" data-section="section-attendance">
                  <i class='bx bxs-calendar-check icon'></i>
                  <span class="text nav-text">Asistencia</span>
                </a>
              </li>
              <li class="nav-link">
                <a href="#" data-section="section-perfil">
                  <i class='bx bxs-user icon' ></i>
                  <span class="text nav-text">Perfil</span>
                </a>
              </li>
              
              <li class="nav-link">
                <a href="#" data-section="section-group">
                  <i class='bx bxs-group icon' ></i>
                  <span class="text nav-text">Grupo</span>
                </a>
              </li>
              <li class="nav-link" >
                <a href="#" data-section="section-cronogram">
                  <i class='bx bxs-calendar icon'></i>
                  <span class="text nav-text">Cronograma</span>
                </a>
              </li>
              <li class="nav-link">
                <a href="#" data-section="section-contact">
                  <i class='bx bxs-message-dots icon'></i>
                  <span class="text nav-text">Contacto</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- ? ===== Barra de navegacion inferior. =====-->
          <div class="bottom-content">
            <ul>
              <li>
                <a href="#" id="logoutBtn">
                  <i class="bx bx-log-out icon"></i>
                  <span class="text nav-text">Salir</span>
                </a>
              </li>
              <!-- ! NO TOCAR HASTA NUEVO AVISO :D ===== Interruptor del modo oscuro/claro. =====-->
              <!-- <li class="mode">
                <div class="sun-moon">
                  <i class="bx bx-moon icon moon"></i>
                  <i class="bx bx-sun icon sun"></i>
                </div>
                <span class="mode-text text">Dark mode</span>
                <div class="toggle-switch">
                  <span class="switch"></span>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- ! ===== Enlace a los scripts de JavaScript =====-->
      <script src="../public/scripts/script-sidebar.js"></script>
    </body>
  </html> 
  