<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace CSS sidebar -->
    <link rel="stylesheet" href="/monsterlabs/public/styles/style-sidebar-monitor.css"/>
    <!-- Enlace boxicons css -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <!-- Enlace CSS monitor -->
    <link rel="stylesheet" href="/monsterlabs/public/styles/monitor.css">
    <link rel="shortcut icon" href="/monsterlabs/assets/images/mini-logo-monsterlabs.png" type="image/x-icon">
    <title>Monitor</title>
</head>
<body>

<div class="container">
    <div id="sidebar-component">
        
    </div>
    <div class="content" id="content">


         <!------------------- SECCION PERFIL ---------------------->
        <section id="section-perfil" class="section">
            
            <!-- <div class="perfil-container" id="perfilContainer"> -->
                <div class="title">
                    <h2>Perfil</h2>
                </div>
                <!-- Foto de perfil con botón para subir imagen -->
                 <div class="container-photo">
                    <div class="perfil-foto">
                        <img id="profileImage" src="/monsterlabs/assets/images/monitor-perfil.jpg" alt="Foto de Perfil">
                    </div>
                    <div class="editPhoto">
                        <button class="btn" id="editPhoto">Cambiar Foto</button>
                    </div>
                 </div>
                
        
                <!-- Información personal -->
                <div class="perfil-info" id="perfilInfo">
                    <div class="dates-monitor name">
                        <strong>Nombre:</strong> <span id="name-monitor"></span> <span id="lastname"></span>
                    </div>
                    <div class="dates-monitor username">
                        <strong>Usuario:</strong> <span id="user-monitor"></span>
                    </div>
                    <div class="dates-monitor dni">
                        <strong>DNI:</strong> <span id="dni-monitor"></span>
                    </div>
                    <div class="dates-monitor email">
                        <strong>Correo:</strong> <span id="email-monitor"></span>
                    </div>
                    <div class="dates-monitor phone">
                        <strong>Teléfono:</strong><span id="phone-monitor"></span>
                    </div>
                     <!-- Botones de acciones -->
                    <div class="perfil-opcions">
                        <button class="btn" id="editProfileBtn"><i class="bx bx-edit"></i> Editar Perfil</button>
                        <button class="btn" id="changePasswordBtn"><i class="bx bx-lock"></i> Cambiar Contraseña</button>
                    </div>
                <!-- </div> -->
                
               
            </div>

            <!-- Formulario de edición para correo y telefono (oculto inicialmente) -->
            <form id="editProfileForm">
                <div id="editProfileSection" class="edit-profile-section" style="display: none;">
                    <div class="subtitulo">
                        <h3>Editar Perfil</h3>
                    </div>
                    
                        <div class="container-email">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" id="editEmail" name="email" value="" required>
                            <span id="email-error" class="error-message"></span>
                        </div>
                        
                        <div class="container-phone">
                            <label for="phone">Teléfono:</label>
                            <input type="text" id="editPhone" name="phone" value="" required>
                            <span id="phone-error" class="error-message"></span>
                        </div>
                        
                        <div class="message">
                            <span id="message-edit-profile"></span>
                        </div>
                        
                        <div class="button-edit">
                            <button type="submit" class="btn" >Guardar Cambios</button>
                            <button type="button" class="btn" id="cancelEditBtn">Volver</button>
                        </div>
                </div>
            </form>

            <!-- Formulario de edición para contraseña(oculto inicialmente) -->
            
                <div id="changePasswordSection" class="change-password-section" style="display: none;">
                    <div class="subtitulo">
                        <h2>Cambiar Contraseña</h2>
                    </div>
                    <form id="changePasswordForm"></form>
                        <div class="container-password-actual">
                            <label for="currentPassword">Contraseña actual:</label>
                            <div class="field input-field">
                                <input type="password" id="currentPassword" name="currentPassword" class="password" required >
                                <i class="bx bx-hide eye-icon"></i>
                                <span id="password-actual-error" class="error-message"></span>
                            </div>
                            
                        </div>

                        <div class="container-password-new">
                            <label for="newPassword">Nueva contraseña:</label>
                            <div class="field input-field" >
                                <input type="password" id="newPassword" name="newPassword" class="password" required>
                                <i class="bx bx-hide eye-icon"></i>
                                <span id="password-new-error" class="error-message"></span>
                            </div>
                        </div>
                        
                        <div class="message">
                            <span id="message-validate-password"></span>
                        </div>
                        
                        <div class="container-password-new">
                            <label for="confirmPassword">Confirmar nueva contraseña:</label>
                            <div class="field">
                                <input type="password" id="confirmPassword" name="confirmPassword" class="password" required>
                                <i class="bx bx-hide eye-icon"></i>
                                <span id="password-confirm-error" class="error-message"></span>
                            </div>
                        </div>
                        
                        <div class="message">
                            <span id="message-edit-password"></span>
                        </div>
                        <div class="button-edit">
                            <button type="submit" class="btn">Guardar cambios</button>
                            <button type="button" class="btn" id="cancelChangePasswordBtn">Volver</button>
                        </div>
                    </form>
                </div>
            
        </section>
        

        <!-- SECCION ASISTENCIA -->
        <section id="section-attendance" class="section active">
            
            <div class="header-section">
                <div class="text">Asistencia</div>
            </div>

            <div class="outer-container">
                <div class="button-attendance">
                    <button id="register-attendance-btn" class="btn">Registrar Asistencia</button>
                    <button id="view-attendance-btn" class="btn">Ver Asistencia</button>
                </div>

                <div class="image-attendance" id="image-attendance">
                    <img src="/monsterlabs/assets/images/imagen-lista-asistencia.png" alt="Imagen de asistencia">
                </div>
            </div>

            <div class="attendance" id="selection-attendance" style="display: none;">
                <form id="attendanceForm" action="" method="post">
                    <div class="form-group">
                        <div class="calendar">
                            <calendar-date id="calendar">
                                <svg
                                    aria-label="Previous"
                                    slot="previous"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
                                </svg>
                                <svg
                                    aria-label="Next"
                                    slot="next"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                                </svg>
                                <calendar-month></calendar-month>
                            </calendar-date>
                        </div>
                        
                    </div>
            
                    <!-- Tabla de asistencia -->
                     <div class="table-attendance">
                        <table id="attendanceTable">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Asistió</th>
                                    <th>Ausente</th>
                                </tr>
                            </thead>
                            <tbody id="groupMembers">
                                <!-- Aquí se llenarán los nombres de los integrantes del grupo -->
                            </tbody>
                        </table>
                     </div>
                     <div class="message">
                        <span id="message-envio-asistencia"></span>
                    </div>
                    <div class="button-attendance">
                        <button type="submit" class="btn">Guardar asistencia</button>
                    </div>
                </form>
            </div>

            <div class="attendance" id="view-attendance" style="display: none;">
                <div class="calendar">
                    <calendar-date id="calendar-view-attendance">
                        <svg aria-label="Previous" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
                        </svg>
                        <svg aria-label="Next" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                        </svg>
                        <calendar-month></calendar-month>
                    </calendar-date>
                </div>
                <div class="table-view-attendance">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody id="tablaAsistencia">
                            <!-- Aquí se llenarán los nombres de los integrantes del grupo -->
                        </tbody>
                    </table>
                </div>
                <div class="message">
                    <span id="message-view-attendance"></span>
                </div>
            </div>
          
        </section>

        <!-- SECCION INFORMACION DEL GRUPO -->
        <section id="section-group" class="section">
            <div class="outer-container">
                <div class="header-section">
                    <div class="text">Información Grupo</div>
                </div>
                <div class="table-grupo">
                    <table id="viewInfoTable">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Datos Tutor</th>
                                <th>DNI</th>
                                <th>Teléfono</th>
                                <th>Observaciones</th>
                                <th>Editar Observaciones</th>
                                <th>Más Información</th>
                                
                            </tr>
                        </thead>
                        <tbody id="viewGroupMembers">
                                
                        </tbody>
                    </table>
                </div>

                <!-- Modal para mostrar más información -->
                <div id="infoModal" class="modal">
                    <div class="modal-content">
                        <button class="modal-close" id="closeModal">&times;</button>
                        <div class="modal-header">
                            <h2>Información Adicional</h2>
                          </div>
                        <div id="modalContent">
                            <!-- Aquí se mostrará la información adicional -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECCION CRONOGRAMA -->
        <section id="section-cronogram" class="section">
            <div class="outer-container">
                <div class="header-section">
                    <div class="text">Cronograma</div>
                </div>
                <div class="container-cronogram">
                    <div class="calendar-cronogram">
                        <div class="header">
                            <button id="prevWeek">← Semana Anterior</button>
                            <h2 id="weekRange"></h2>
                            <button id="nextWeek">Siguiente Semana →</button>
                        </div>
                        <table>
                            <thead id="calendarHeader">

                            </thead>
                            <tbody id="calendarBody">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="infoModalCronogram" class="modal">
                    <div class="modal-content">
                        <button class="modal-close" id="closeModalCronogram">&times;</button>
                        <div class="modal-header">
                            <h2>Información Actividad</h2>
                          </div>
                        <div id="modalContentCronogram">
                            <!-- Aquí se mostrará la información adicional -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECCION CONTACTO -->
        <section id="section-contact" class="section">
            <div class="outer-container">
                <div class="header-section">
                    <div class="text">Contacto</div>
                </div>
                <div class="form-container">
                    <!-- Formulario de notificaciones -->
                    <form id="form-notificaciones" class="form-contact">
                        <label for="asunto">Asunto:</label>
                        <input type="text" id="asunto" name="asunto" maxlength="100"/>

                        <label for="descripcion">Descripción:</label>
                        <textarea id="descripcion" name="descripcion" maxlength="300"></textarea>
                        <div class="message">
                            <span id="message-contact"></span>
                        </div>
                        <div class="buttton-message">
                            <button type="submit" class="btn">Enviar</button>
                        </div>   
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="/monsterlabs/public/scripts/script-form.js"></script>
<script src="/monsterlabs/public/scripts/monitor.js"></script>
<script type="module" src="https://unpkg.com/cally"></script>
</script>
</body>
</html>