<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ! == CSS == -->
    <link rel="stylesheet" href="../../public/styles/style-sign-up.css">
    <!-- ! == Iconos == -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Registrate</title>
</head>
<body>
    <div class="container-sign-up">
      <div class="form signup">
        <div class="form-content">
          <header>Registrate</header>
          <form id="sign-up-form" action="#">
            <div class="field input-field">
              <input type="text" id="username" placeholder="Usuario" class="input">
              <div id="username-error-length" class="error-message"></div>
              <div id="username-error-content" class="error-message"></div>
            </div>
  
            <div class="field input-field">
              <input type="password" id="password" placeholder="Crear Contraseña" class="password">
              <div id="password-error-length" class="error-message"></div>
              <div id="password-error-uppercase" class="error-message"></div>
              <div id="password-error-lowercase" class="error-message"></div>
              <div id="password-error-number" class="error-message"></div>
            </div>
  
            <div class="field input-field">
              <input type="password" id="confirm-password" placeholder="Confirmar contraseña" class="password">
              <div id="confirm-password-error" class="error-message"></div>
              <i class='bx bx-hide eye-icon'></i>
            </div>
  
            <div class="field button-field">
              <button type="submit">Registrate</button>
              <span id="username-exists-error" class="error-message"></span>
              <div id="form-error" class="error-message"></div>
            </div>
            <div id="success-message" class="success-message"></div>
          </form>
  
          <div class="form-link">
            <span>¿Ya tienes una cuenta? <a href="../../mvc/views/log-in.html" class="link login-link">Iniciar Sesión</a></span>
          </div>
        </div>
  
        <div class="line"></div>
  
        <div class="media-options">
          <a href="#" class="field facebook">
            <i class='bx bxl-facebook facebook-icon'></i>
            <span>Registrate con Facebook</span>
          </a>
        </div>
  
        <div class="media-options">
          <a href="#" class="field google">
            <i class='bx bxl-google google-icon'></i>
            <span>Registrate con Google</span>
          </a>
        </div>
      </div>
    </div>
    <!-- ! == JS == -->
  <script src="../../public/scripts/script-form.js"></script>
  <script src="../../public/scripts/validations/sign-up-validation.js"></script>
</body>
</html>