<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/monsterlabs/public/styles/tutor.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

    <title>Tutor</title>
  </head>
  <body>
    <div id="sidebar-component"></div>

    <div id="modal-overlay" class="modal-overlay">
      <div class="modal">
        <div class="form-container">
          <h2>Finalizar registro del tutor</h2>
          <form id="form-inscripcion-padre">
            <label for="nombre-padre">Nombre:</label>
            <input type="text" id="nombre-padre" name="nombre-padre" />

            <label for="apellidos-padre">Apellidos:</label>
            <input type="text" id="apellidos-padre" name="apellidos-padre" />

            <label for="dni-padre">DNI:</label>
            <input type="text" id="dni-padre" name="dni-padre" />

            <label for="telefono-padre">Teléfono:</label>
            <input type="text" id="telefono-padre" name="telefono-padre" />

            <button type="submit">Finalizar registro</button>
          </form>
        </div>
      </div>
    </div>

    <!-- -Sections -->

    <!-- Section-inicio -->
    <div class="container">
      <!--SECCION INICIO-->
      <section id="section-inicio" class="section active">
        <h1 class="welcome-title">¡Bienvenidos, Tutores!</h1>

        <div class="gallery-container">
          <button class="gallery-nav prev">&lt;</button>
          <div class="gallery-track">
            <img
              src="/monsterlabs/assets/images/imagen1.jpg"
              alt="Actividad del Campamento 1"
              class="gallery-image"
            />
            <img
              src="/monsterlabs/assets/images/imagen2.jpg"
              alt="Actividad del Campamento 2"
              class="gallery-image"
            />
            <img
              src="/monsterlabs/assets/images/imagen3.jpg"
              alt="Actividad del Campamento 3"
              class="gallery-image"
            />
            <img
              src="/monsterlabs/assets/images/imagen4.jpg"
              alt="Actividad del Campamento 4"
              class="gallery-image"
            />
            <img
              src="/monsterlabs/assets/images/imagen5.jpg"
              alt="Actividad del Campamento 5"
              class="gallery-image"
            />
            <img
              src="/monsterlabs/assets/images/imagen6.jpg"
              alt="Actividad del Campamento 6"
              class="gallery-image"
            />
            <img
              src="/monsterlabs/assets/images/imagen7.jpg"
              alt="Actividad del Campamento 7"
              class="gallery-image"
            />
            <img
              src="/monsterlabs/assets/images/imagen8.jpg"
              alt="Actividad del Campamento 8"
              class="gallery-image"
            />
          </div>
          <button class="gallery-nav next">&gt;</button>
        </div>

        <p class="welcome-message">
          ¡Estamos encantados de dar la bienvenida a su hijo a nuestro
          <span class="highlight">Campamento MonsterLabs</span>! Prepárense para
          una experiencia inolvidable llena de diversión, amistad y crecimiento
          personal. ¡Nuestro dedicado equipo está emocionado por crear recuerdos
          duraderos con su joven campista!
        </p>
      </section>

      <!--SECCION PERFIL-->
      <section id="section-perfil" class="section">
        <button class="btn-volver" id="btn-volver-perfil">Volver</button>
        <div id="infoUsuario">
          <p><strong>Nombre de usuario:</strong> <span id="usuario"></span></p>
          <p><strong>Nombre:</strong> <span id="nombre"></span></p>
          <p><strong>Apellidos:</strong> <span id="apellidos"></span></p>
          <p><strong>DNI:</strong> <span id="dni"></span></p>
          <p>
            <strong>Número de teléfono:</strong> <span id="telefono"></span>
          </p>
          <button id="btnEditar">Editar Mi información</button>
          <!-- Nueva sección para mostrar hijos -->
          <h3>Hijos</h3>
          <button class="btn-agregar-hijo" id="btn-agregar-hijo">
            <i class="bx bx-user-plus"></i> Agregar Hijo
         </button>
          <table id="infoHijos">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha de nacimiento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <!-- Aquí se inyectarán las filas con los datos de cada hijo -->
            </tbody>
          </table>
          <!-- Contenedor para cargar los formularios de edición de hijos -->
          <div id="hijos" style="display:none;"></div>

          <!-- Plantilla oculta para el formulario de edición de un hijo -->
          <div id="hijoModelo" class="hijo modelo" style="display:none;">
            <div class="child-info">
              <p class="nombre"></p>
              <p class="apellidos"></p>
              <p class="fecha"></p>
            </div>
            <!-- Formulario de edición -->
            <form class="formulario" style="display:none;">
              <label>
                Nombre:
                <input type="text" class="inputNombre" placeholder="Nuevo nombre" />
              </label>
              <label>
                Apellidos:
                <input type="text" class="inputApellidos" placeholder="Nuevos apellidos" />
              </label>
              <label>
                Fecha de nacimiento:
                <input type="date" class="inputFecha" />
              </label>
              <button type="button" class="btnGuardar">Guardar</button>
            </form>
            <!-- Botones para mostrar/ocultar el formulario y eliminar -->
            <button type="button" class="btnEditar">Abrir Formulario</button>
             <!--<button type="button" class="btnEliminar">Eliminar</button>-->
          </div>

        </div>

        <div id="formularioUsuario" style="display: none">
          <form id="formularioEditarUsario">
            <label
              >Nombre de usuario: <input type="text" id="inputUsuario"
            /></label>
            <label>Nombre: <input type="text" id="inputNombrePadre" /></label>
            <label>Apellidos: <input type="text" id="inputApellidosPadre" /></label>
            <label>DNI: <input type="text" id="inputDniPadre" /></label>
            <label
              >Número de teléfono: <input type="text" id="inputTelefonoPadre"
            /></label>
            <div class="button-container">
              <button type="submit">Guardar</button>
              <span id="form-error" class="error-message"></span>
            </div>
          </form>
        </div>
      </section>




<!-- Notificaciones -->
<section id="section-notificaciones" class="section">
  <button class="btn-volver" id="btn-volver-perfil">Volver</button>
  <h1 class="welcome-title">Contacto</h1>

  <!-- Formulario de notificaciones -->
  <form id="form-notificaciones" class="form-container">
    <label for="asunto">Asunto:</label>
    <input type="text" id="asunto" name="asunto" maxlength="100"/>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" maxlength="300"></textarea>

    <button type="submit">Enviar</button>
  </form>
</section>


      <!--SECCION INSCRIPCION-->
      <section id="section-inscripcion" class="section">
        <button class="btn-volver" id="btn-volver-perfil">Volver</button>
        <div class="form-container">
          <h2>Inscripción al Campamento</h2>
          <form id="form-inscripcion">
            <label for="nombre-nino">*Nombre:</label>
            <input type="text" id="nombre-nino" name="nombre-nino" />
      
            <label for="apellidos-nino">*Apellidos:</label>
            <input type="text" id="apellidos-nino" name="apellidos-nino" />
      
            <label for="fecha-nacimiento">*Fecha de nacimiento:</label>
            <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" />
      
            <!-- Selección del período -->
            <p>*Seleccione Periodo:</p>
            <div id="periodo-options">
              <input type="radio" name="periodo" id="semanal" value="semanal" />
              <label for="semanal">Semanal</label>
              <input type="radio" name="periodo" id="mensual" value="mensual" />
              <label for="mensual">Mensual</label>
              <input type="radio" name="periodo" id="trimestral" value="trimestral" />
              <label for="trimestral">Trimestral</label>
            </div>
      
            <!-- Contenedor para los checkbox que aparecerán dinámicamente -->
            <div id="check-container"></div>
      
            <label for="forma-pago">*Forma de pago:</label>
            <select id="forma-pago" name="forma-pago">
              <option value="bizum">Bizum</option>
              <option value="transferencia">Transferencia bancaria</option>
              <option value="pago-centro">Pago en Centro</option>
            </select>
      
            <label for="alergia-alimentos">Alérgico a alimentos:</label>
            <textarea id="alergia-alimentos" name="alergia-alimentos" maxlength="100"></textarea>
      
            <label for="alergia-medicamentos">Alérgico a medicamentos:</label>
            <textarea id="alergia-medicamentos" name="alergia-medicamentos" maxlength="100"></textarea>
      
            <label for="medicamento-actual">Medicamento actual:</label>
            <textarea id="medicamento-actual" name="medicamento-actual" maxlength="100"></textarea>
      
            <label for="responsable-adicional">¿Requiere un responsable adicional en caso de emergencia?</label>
            <select id="responsable-adicional" name="responsable-adicional">
              <option value="no">No</option>
              <option value="si">Sí</option>
            </select>
      
            <div id="responsable-info" class="hidden">
              <h3>Responsable adicional</h3>
              <label for="nombre-responsable">Nombre:</label>
              <input type="text" id="nombre-responsable" name="nombre-responsable" />
      
              <label for="apellidos-responsable">Apellidos:</label>
              <input type="text" id="apellidos-responsable" name="apellidos-responsable" />
      
              <label for="dni-responsable">DNI:</label>
              <input type="text" id="dni-responsable" name="dni-responsable" />
      
              <label for="telefono-responsable">Teléfono:</label>
              <input type="text" id="telefono-responsable" name="telefono-responsable" />
      
              <label for="relacion-responsable">Relación con el niño:</label>
              <input type="text" id="relacion-responsable" name="relacion-responsable" />
            </div>
      
            <button type="submit">Enviar Inscripción</button>
          </form>
        </div>
      </section>
      

      <!--SECCION CRONOGRAMA-->
      <section id="section-cronograma" class="section">
        <div class="container2">
          <div class="welcome-section">
            <h1 class="welcome-title">Cronograma</h1>
          </div>

          <div class="content-section">
            <h2>Calendarios de Actividades de Hijos</h2>
            <div class="container">
            <div id="childCalendars">
              <!-- Aquí se inyectará dinámicamente el calendario de cada hijo -->
            </div>
          </div>
          </div>
          <button class="btn-volver" id="btn-volver-perfil">Volver</button>
        </div>
        <div id="modal-actividad-calendar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Título del Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modalBody">
                <!-- Aquí se mostrará la descripción del evento -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js"></script>

    <script src="/monsterlabs/public/scripts/tutor.js"></script>
    <script src="/monsterlabs/public/scripts/validations/tutor-validaciones.js"></script>
   
  </body>
</html>
