@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary: 113, 44%, 50%, 1;
  --background: 206, 12%, 89%;
  --tab-width: 150px;
  --tab-height: 28px;
  --tab-font-size: 0.9rem;
  --tab-font-weight: 600;
  --tab-padding: 0.5rem 0.7rem;
  --tab-border-radius: 1000px;
  --tab-box-shadow: -2px -2px 3px 0px rgba(0, 0, 0, 0.25) inset;
  --slider-box-shadow: -1.5px -1.5px 1px 0px rgba(0, 0, 0, 0.15) inset;
}


body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: hsl(var(--background));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 0;
}


nav {
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-container {
  display: flex;
  align-items: center;
}


.tabs {
  font-size: var(--tab-font-size);
  font-weight: var(--tab-font-weight);
  padding: var(--tab-padding);
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: var(--tab-border-radius);
  box-shadow: var(--tab-box-shadow);
  list-style: none;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.tab {
  width: var(--tab-width);
  height: var(--tab-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: inherit;
  cursor: pointer;
  z-index: 2;
}


.tabs .slider {
  width: var(--tab-width);
  height: var(--tab-height);
  position: absolute;
  border-radius: inherit;
  background-color: hsl(var(--primary));
  z-index: 0;
  transition: 0.3s ease;
  box-shadow: var(--slider-box-shadow);
}


input[type="radio"]:checked + label {
  color: #f1f1f1;
}

input[id="perfil"]:checked ~ .slider {
  transform: translateX(0);
}
input[id="actividades"]:checked ~ .slider {
  transform: translateX(100%);
}
input[id="grupos"]:checked ~ .slider {
  transform: translateX(200%);
}
input[id="gestiones"]:checked ~ .slider {
  transform: translateX(300%);
}



