html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita que aparezca el scroll de la web */
}

#content-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ajusta el contenedor para ocupar toda la altura */
    width: 80%;
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.content-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px auto; /* Ajustar el tamaño de las columnas */
    grid-template-rows: auto 1fr;
    gap: 10px; /* Reducir el espacio entre los elementos */
    width: 100%;
    height: 100%;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.23) inset;
    position: relative; /* Para posicionar el botón dentro del contenedor */
}

.grid-item.photo {
    grid-row: span 1;
    aspect-ratio: 1 / 1; /* Mantener cuadrado */
    height: 250px; /* Altura específica para la foto */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinear elementos al inicio del contenedor */
    align-items: center;
}

.photo-placeholder {
    width: 105%;
    height: 83%;
    background-color: #C4C4C4; /* Color de fondo por defecto */
    border-radius: 8px;
    margin-top: -6px; /* Espacio de 12px desde el borde superior */
}

.photo-placeholder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.grid-item.info {
    grid-column: span 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.info-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.info-field label {
    font-weight: 500;
}

.grid-item.notifications {
    grid-column: span 2;
    height: 325px; /* Altura específica para notificaciones */
    overflow-y: auto; /* Permitir desplazamiento vertical */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizar el scrollbar de las notificaciones */
.grid-item.notifications::-webkit-scrollbar {
    width: 12px;
}

.grid-item.notifications::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

.grid-item.notifications::-webkit-scrollbar-thumb {
    background-color: #F89728;
    border-radius: 8px;
    border: 3px solid #f1f1f1;
}

.grid-item.notifications::-webkit-scrollbar-thumb:hover {
    background-color: #e07a1f;
}

.notificacion {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Añadir transición para la opacidad y la escala */
}

.notificacion-desaparecer {
    opacity: 0;
    transform: scale(0.9);
}

.notificacion-asunto {
    font-weight: bold;
    margin-bottom: 5px;
}

.notificacion-descripcion {
    margin-bottom: 5px;
}

.notificacion-fecha {
    font-size: 12px;
    color: #888;
    text-align: center;
}

.edit-photo-btn {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #56B848; /* Color especificado para el botón de editar foto */
    color: white;
    border: none;
    border-radius: 8px; /* Borde redondeado de 8px */
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 12px; /* A 12px del borde inferior */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
}

.edit-photo-btn svg {
    margin-left: 4px;
}

.edit-photo-btn:hover {
    background-color: #4ca03e;
}

.edit-photo-btn:active {
    background-color: #3e8232;
}

.edit-info-btn {
    width: 97%;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #9A4E9E; /* Color especificado para el botón de editar información */
    color: white;
    border: none;
    border-radius: 8px; /* Borde redondeado de 8px */
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 12px; /* A 12px del borde inferior */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
}

.edit-info-btn svg {
    margin-left: 4px;
}

.edit-info-btn:hover {
    background-color: #87438a;
}

.edit-info-btn:active {
    background-color: #6e356f;
}

.modal-overlay-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-profile {
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.modal-profile h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.modal-profile .form-group-profile {
    margin-bottom: 12px;
}

.modal-profile label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.modal-profile input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    outline: none;
    transition: border 0.2s ease;
}

.modal-profile input:focus {
    border-color: #03B56E;
}

.modal-profile .btn-container-profile {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.modal-profile .btn-profile {
    padding: 10px 16px;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-close-profile {
    background: #EF5948; /* Rojo cancelar */
    color: white;
    margin-right: 8px; /* Separación de 8px */
}

.btn-close-profile:hover {
    background: #D84438;
}

.btn-save-profile {
    background: #03B56E;
    color: white;
}

.btn-save-profile:hover {
    background: #029E5E;
}

.modal-overlay-profile.active {
    opacity: 1;
    pointer-events: all;
}

.modal-overlay-profile.active .modal-profile {
    transform: scale(1);
}

.btn-borrar-notificacion {
    background-color: #EF5948;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-borrar-notificacion:hover {
    background-color: #d94a3e;
}

.btn-borrar-notificacion svg {
    margin-left: 1px;
    vertical-align: middle; /* Alinear verticalmente el SVG */
}

.modal-overlay-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay-delete.active {
    opacity: 1;
    pointer-events: all;
}

.modal-delete {
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.modal-overlay-delete.active .modal-delete {
    transform: scale(1);
}

.modal-delete h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.modal-delete p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-container-delete {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-delete {
    background-color: #EF5948;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 12px; /* Separación de 4px a la izquierda del botón de borrar */
}

.btn-delete:hover {
    background-color: #d94a3e;
}

.btn-close-delete {
    background-color: #888; /* Color gris */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-close-delete:hover {
    background-color: #666;
}

.error-message {
    color: red;
    font-size: 0.750em;
    margin-top: 0.25em;
    display: none;
}

.error-visible {
    display: block;
}

.success-popup {
    position: fixed;
    top: 24px;
    left: 81%;
    transform: translateX(-50%);
    background-color: #03B56E;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    font-size: 0.75em;
}

.success-popup.show {
    opacity: 1;
}

.grid-container-gestiones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.grid-item-gestiones {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item-gestiones h2 {
    margin-bottom: 20px;
}

.grid-item-gestiones table {
    width: 100%;
    border-collapse: collapse;
}

.grid-item-gestiones th, .grid-item-gestiones td {
    border: 1px solid #ddd;
    padding: 8px;
}

.grid-item-gestiones th {
    background-color: #f2f2f2;
    text-align: left;
}

.grid-container-gestiones-full-height {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 80vh; /* Ocupa el 85% de la altura de la ventana */
}

.grid-item-gestiones-full-height {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; /* Ocupa todo el alto del contenedor */
}

.grid-item-gestiones-full-height h2 {
    margin-bottom: 20px;
}

.full-height-table {
    width: 100%;
    border-collapse: collapse;
    flex-grow: 1; /* Permite que la tabla crezca para ocupar el espacio disponible */
}

.full-height-table th, .full-height-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.full-height-table th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Estilos específicos para las filas de los niños activos */
.grid-item-gestiones-full-height .full-height-table tbody tr {
    height: 70px; /* Ajustar la altura de las filas */
    background-color: #E0E3E6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Espacio entre las filas */
    flex-direction: column; /* Alinear elementos en columna */
}

.grid-item-gestiones-full-height .full-height-table tbody tr td {
    border: none; /* Eliminar bordes de las celdas */
    padding: 10px; /* Añadir padding a las celdas */
    width: 100%; /* Asegurar que el td ocupe todo el ancho */
    text-align: center; /* Centrar el texto */
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
    justify-content: center; /* Centrar elementos verticalmente */
}

.grid-item-gestiones-full-height .full-height-table tbody tr .nombre-apellido {
    margin-bottom: 10px; /* Espacio entre el nombre/apellido y los botones */
    font-weight: bold; /* Hacer el texto en negrita */
}

.grid-item-gestiones-full-height .full-height-table tbody tr .botones {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.grid-item-gestiones-full-height .full-height-table tbody tr .botones button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.grid-item-gestiones-full-height .full-height-table tbody tr .boton-editar {
    background-color: #56B848;
}

.grid-item-gestiones-full-height .full-height-table tbody tr .boton-editar:hover {
    background-color: #4ca03e;
}

.grid-item-gestiones-full-height .full-height-table tbody tr .boton-info {
    background-color: #F89728;
}

.grid-item-gestiones-full-height .full-height-table tbody tr .boton-info:hover {
    background-color: #e07a1f;
}

.grid-item-gestiones-full-height .full-height-table tbody tr .boton-baja {
    background-color: #EF5948;
}

.grid-item-gestiones-full-height .full-height-table tbody tr .boton-baja:hover {
    background-color: #d94a3e;
}

/* Estilos para el scrollbar */
.grid-item-gestiones-full-height {
    overflow-y: auto; /* Añadir scroll vertical */
}

.grid-item-gestiones-full-height::-webkit-scrollbar {
    width: 12px;
}

.grid-item-gestiones-full-height::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.grid-item-gestiones-full-height::-webkit-scrollbar-thumb {
    background-color: #F89728; /* Color del scrollbar */
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.grid-item-gestiones-full-height::-webkit-scrollbar-thumb:hover {
    background-color: #d87a1f;
}

/* Estilos específicos para las filas de los niños activos */
.grid-item-gestiones-full-height .full-height-table-activos tbody tr {
    height: 70px; /* Ajustar la altura de las filas */
    background-color: #E0E3E6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Espacio entre las filas */
    flex-direction: column; /* Alinear elementos en columna */
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr td {
    border: none; /* Eliminar bordes de las celdas */
    padding: 10px; /* Añadir padding a las celdas */
    width: 100%; /* Asegurar que el td ocupe todo el ancho */
    text-align: center; /* Centrar el texto */
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
    justify-content: center; /* Centrar elementos verticalmente */
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .nombre-apellido {
    margin-bottom: 10px; /* Espacio entre el nombre/apellido y los botones */
    font-weight: bold; /* Hacer el texto en negrita */
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .botones {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .botones button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .boton-editar {
    background-color: #56B848;
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .boton-editar:hover {
    background-color: #4ca03e;
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .boton-info {
    background-color: #F89728;
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .boton-info:hover {
    background-color: #e07a1f;
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .boton-baja {
    background-color: #EF5948;
}

.grid-item-gestiones-full-height .full-height-table-activos tbody tr .boton-baja:hover {
    background-color: #d94a3e;
}

/* Estilos específicos para las filas de los niños inactivos */
.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr {
    height: 70px; /* Ajustar la altura de las filas */
    background-color: #E0E3E6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Espacio entre las filas */
    flex-direction: column; /* Alinear elementos en columna */
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr td {
    border: none; /* Eliminar bordes de las celdas */
    padding: 10px; /* Añadir padding a las celdas */
    width: 100%; /* Asegurar que el td ocupe todo el ancho */
    text-align: center; /* Centrar el texto */
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
    justify-content: center; /* Centrar elementos verticalmente */
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .nombre-apellido {
    margin-bottom: 10px; /* Espacio entre el nombre/apellido y los botones */
    font-weight: bold; /* Hacer el texto en negrita */
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .botones {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .botones button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .boton-alta {
    background-color: #56B848;
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .boton-alta:hover {
    background-color: #4ca03e;
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .boton-info {
    background-color: #F89728;
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .boton-info:hover {
    background-color: #e07a1f;
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .boton-eliminar {
    background-color: #EF5948;
}

.grid-item-gestiones-full-height .full-height-table-inactivos tbody tr .boton-eliminar:hover {
    background-color: #d94a3e;
}

/* Estilos para el scrollbar */
.grid-item-gestiones-full-height {
    overflow-y: auto; /* Añadir scroll vertical */
}

.grid-item-gestiones-full-height::-webkit-scrollbar {
    width: 12px;
}

.grid-item-gestiones-full-height::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.grid-item-gestiones-full-height::-webkit-scrollbar-thumb {
    background-color: #F89728; /* Color del scrollbar */
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.grid-item-gestiones-full-height::-webkit-scrollbar-thumb:hover {
    background-color: #d87a1f;
}

